*{
    margin: 0;
    padding: 0;
}
.container1 {
    text-align: center;
    border: none;
    margin: none;
    padding: 13px;
    margin-bottom: 0px;
    background-color: #2897d4;
}
.container2 {
    text-align: center;

    border: none;
    margin: none;
    padding: 20px;
    background-color: #2897d4;
}
strong{
    display: inline;
    width: 90px;
    

    
}
body{
    background-color: #f2f2f2;
}

.brand-icon {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 480px) {
    /* Estilos específicos para dispositivos con un ancho máximo de 480px, como iPhone */
    .brand-icon {
        max-width: 80%;
        width: 120px;
        border: none;
        text-align: center;
        margin-top: 15px;
    }
    .submenu {
        display: none;
        /* ... otros estilos ... */
    }
    .ss{
        color: white;
    }
    .submenu.show {
        display: block;
    }
    
    .containerG{
    
        background-color:#f2f2f2 ;
        padding-bottom: 220px;;
    }
    .col{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #f2f2f2;
        border-right: 2px solid #f2f2f2;
        background-color: white;
    }
    .body{
        background-color: #f2f2f2;

    }
    .col2{
        padding: 90px;
        padding-right: 40px;
        border-bottom: 2px solid #f2f2f2;
       
    }
    .icono{
        width: 65px;
        margin-bottom: 10px;
    }
    .text{
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    .container0{
        position: relative;
    }
    .col2{
        position: relative;
        padding-right: 1000px;
        padding:20px;
        margin-top: 2,5px;
        text-align:left;
    }
    .chevron-left{
        display: inline;
        float: left;

    }
    .dni{
        width: 50px;
        margin-right: 5px;
    }

    .dni2{
        width: 50px;
        margin-right: 0px;
    }
    .s{
       width: 60px ;
       margin-left: 10px;
 
        
    }
    .sa{
        margin-left: 65px;
        ;
    }
    .contar{
        display: inline;
        text-align: right;
        
    }
    .text{
        font-size: 14px;
    }
    .ss{
        display: inline;
        width: 0px;
    }
    .boton{
        padding-left: 100px;
        background-color: #2fbe08;
        color: white;
        margin-left: 0px;
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: 5px;
        border: none;
        white-space: nowrap;
        font-size: 16px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-radius: 20px;
    }
    .boton2{
        padding-left: 25px;
        background-color: #0abdf4;
        color: white;
        margin-left: 0px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: 5px;
        border: none;
        white-space: nowrap;
        font-size: 16px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-radius: 20px;
    }
    .boton3{
        padding-left: 115px;
        background-color: #0abdf4;
        color: white;
        margin-left: 0px;
        padding-right: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: 5px;
        border: none;
        white-space: nowrap;
        font-size: 16px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-radius: 20px;
    }
    .boton4{
        padding-left: 90px;
        background-color: #2fbe0800;
        color: rgb(13, 55, 209);
        margin-left: 0px;
        padding-right: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: 5px;
        white-space: nowrap;
        font-size: 16px;
        border-top: 2px solid rgb(13, 55, 209);
        border-bottom: 2px solid rgb(13, 55, 209);
        border-radius: 20px ;
    }
    .submenu2{
        display: none;
    
    }
    .qr{
        width: 130px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: 120px;
    }
    .DA{
        margin-left: 125px;
        margin-bottom: 80px;
    }
    .imagenes{
        background-color: #f2f2f2;
        padding-bottom: 20px;
    }
    .adl{
        width: 350px;
        background-color:#f2f2f2 ;
        margin-top: 20px;
        margin-left: 20px;
    }
    #imageContainer {
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        transition: transform 0.3s ease-in-out;
      }
      
      #imageContainer img {
        display: inline-block;
        width: 100%;
        height: auto;
      }
      
      

    



}
